
name: DAST - OWASP ZAP Full Active (Public URL)

on:
  workflow_dispatch:
    inputs:
      target_url:
        description: "Public URL to scan (only scan targets you have permission to test)"
        required: true
        default: "https://demo.owasp-juice.shop/"

permissions:
  contents: read

jobs:
  zap_full_active:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ZAP Full Scan (ACTIVE)
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: ${{ github.event.inputs.target_url }}
          allow_issue_writing: false
          artifact_name: zap-full-public
          rules_file_name: ".zap/rules.tsv"
          cmd_options: "-a -j -m 5 -r report_html.html -J report_json.json -w report_md.md"
