name: Deploy to DigitalOcean

on:
  #push:
  #  branches:
  #    - master
  workflow_dispatch: null   

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: just a simple ls command
      run: |
        ls -la
        pwd
        ls

    - name: Copy folder content recursively to remote
      uses: garygrossgarten/github-action-scp@release
      with:
        local: obj
        remote: /var/www
        host: ${{ secrets.DROPLET_IP }}
        username: ${{ secrets.DROPLET_USER }}
        password: ${{ secrets.DROPLET_PASSWORD }}

    - name: Run sshpass commands
      uses: matheusvanzan/sshpass-action@v2
      with:
        host: ${{ secrets.DROPLET_IP }}
        user: ${{ secrets.DROPLET_USER }}
        pass: ${{ secrets.DROPLET_PASSWORD }}
        run: |
          cd /var/www
          ls
          pwd
          cd /usr/bin/git
          ls
          pwd
     
